doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.my-3
			.jumbotron.py-3.text-left(style="background-color: #f5f2e3;")
				h3= `${title}`
			form.text-left(name="loginForm" method="post" action="/mem/login" onsubmit="return memberLogin(this);")
				table.table.table-bordered.table-sm.mx-auto(style="max-width: 400px;")
					colgroup
						col(width="30%")
						col
					thead
						tr
							th.p-3.f-125(colspan="2")
								i.fas.fa-key.mr-3
								span USER LOGIN
					tbody
						tr
							td.px-3(style="background-color:#233052; color: #fff;") ID
							td.p-3
								input.form-control(type="text" name="loginid" id="loginid" placeholder="아이디")
						tr
							td.px-3(style="background-color:#233052; color: #fff;") PASSWORD
							td.p-3
								input.form-control(type="password" name="loginpw" id="loginpw")
								span.userpw-cmt
				.my-3.text-center
					button.btn.btn-danger LOGIN
					button.btn.btn-secondary(type="button" onclick="location.href='/mem/join';") SIGN IN
		include inc/footer.pug
		include inc/script.pug